<h2 class="text-center m-5">Log in</h2>

<div class="col-8 offset-2 col-sm-4 offset-sm-4">
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  <br />

  <%= f.button :submit, "Log in", class: "btn-primary" %>
  <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
<% end %>
<%= render "users/shared/links" %>
</div>
